.loading{
    width: 50px;
    height: 50px;
    border: 4px solid grey;
    border-top-color: #333333;
    border-radius: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: spin 1s linear infinite;

}
.sidenav li>a{
    margin-top: 3px white solid;
    margin-bottom: 2px white solid;
    margin:0 30px;
    margin-top: 10px;
    color: white;
}
@keyframes spin{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}